## macOS specific
.DS_Store

## Python
# Environments
.venv

# Byte-compiled / optimized / DLL files
__pycache__/

## Project specific
data/datasets/
data/prepared/

## DVC

# DVC will add new files after this line
