## macOS specific
.DS_Store

## Python
# Environments
.venv

# Variables
.env.local

# Byte-compiled / optimized / DLL files
__pycache__/

## Project specific
data/test
out/

src/testing/

## DVC

# DVC will add new files after this line
/runs
/models
