## macOS specific
.DS_Store

## Python

# Variables
.env.local
.env

# Byte-compiled / optimized / DLL files
__pycache__/

## Project specific
data/test

src/testing/

## DVC

# DVC files
dvc_plots

# DVC will add new files after this line
/runs
/models
